In [1]:
import pandas as pd

### Datos

In [2]:
texts = ["Aves es una clase de animales vertebrados homeotermos con los miembros anteriores transformados en alas, el cuerpo cubierto de plumas y un pico córneo sin dientes. Para reproducirse ponen huevos que incuban hasta su eclosión."]

In [3]:
df = pd.DataFrame(texts)

In [11]:
df_nuevos = pd.DataFrame(texts)

In [12]:
df = pd.concat([df,df_nuevos],ignore_index=True)

In [13]:
df.to_parquet('datos.parquet')

In [19]:
df = pd.read_parquet('datos.parquet')

In [18]:
df.drop_duplicates()

                                                     0
0                   El gato está durmiendo en el sofá.
1                         El perro juega en el parque.
2                     La comida está lista en la mesa.
3                      El sol brilla en el cielo azul.
4                      Los pájaros cantan en el árbol.
..                                                 ...
97   El rugido del león en la selva era un recordat...
98   La frescura de la brisa marina era refrescante...
99   El crujir de las hojas secas bajo los pies era...
100  El canto de las ballenas en el océano era una ...
101  El calor del fuego en la chimenea era reconfor...

[102 rows x 1 columns]