In [1]:
import pandas as pd

### Datos

In [2]:
df = pd.read_csv("textos ai c.csv", sep = ";")

In [3]:
df

                    El gato está durmiendo en el sofá
0                          El perro juega en el parque
1                      La comida está lista en la mesa
2                       El sol brilla en el cielo azul
3                       Los pájaros cantan en el árbol
4    El día amaneció soleado y los pájaros cantaban...
..                                                 ...
239         Paco comió una rebanada de pan con manteca
240                      Si llueve me pongo la capucha
241            Mi papá es muy bueno jugando al básquet
242  En un día de sol en el fondo del mar, el pulpo...
243  Renata la pata elegante, pasaba sus días nadan...

[244 rows x 1 columns]

In [4]:
df.to_parquet('datos.parquet')

In [5]:
df = pd.read_parquet('datos.parquet')

In [6]:
df

                    El gato está durmiendo en el sofá
0                          El perro juega en el parque
1                      La comida está lista en la mesa
2                       El sol brilla en el cielo azul
3                       Los pájaros cantan en el árbol
4    El día amaneció soleado y los pájaros cantaban...
..                                                 ...
239         Paco comió una rebanada de pan con manteca
240                      Si llueve me pongo la capucha
241            Mi papá es muy bueno jugando al básquet
242  En un día de sol en el fondo del mar, el pulpo...
243  Renata la pata elegante, pasaba sus días nadan...

[244 rows x 1 columns]